@charset "UTF-8";
body    {

      background-color:black !important;
}

.container    {
	padding-bottom:1.2em;
  	opacity:0.9;
    display: flex;
    justify-content: space-beetwen;
    flex-direction: column;
  
    
}

.titre	{
	margin:20px;
	font-weight:700;
	font-size:5em;
	font-family:helvetica;
}
.soustitre	{
	margin:20px;
	font-weight:400;
	font-size: 3em;
	color:#ffff80;
	font-family:verdana;
}
.menu	{
	width:100%;
	display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.menu a {
	font-size: 2em;
	color:white;
	font-family:verdana;
	font-style:normal;
	text-decoration:none;
	margin:20px;
}
.menu a:hover {
	color:#ffff80;
}
footer	{
	 width: 100%;
	 max-width: 1320px;
	 position:absolute;
	 bottom:0;
}
.alignimg	{
	 width: 100%;
	 max-width: 1320px;
	 padding-right: var(--bs-gutter-x,.75rem);
	 padding-left: var(--bs-gutter-x,.75rem);
	 margin-right: auto;
	 margin-left: auto;	
}
.socialicon	{
	display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:20px;
}
td	{
	padding: 0.5em 1em 0.5em 1em;
	background-color:black;
	border-radius:2em 2em 2em 2em;
}

th	{
	
	font-size: 1.7em;
	padding-top:1em;
}
row	{
	margin-top:1em;
}

@keyframes show {
  from {
  		height:1em;}
  to {height: 12em;
   animation-play-state:paused;
  		}
}
#show	{
 
  height:12em;
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count:1;
 }
