@charset "UTF-8";
body    {

      background-image: url("img_jv.jpg");
      background-repeat:repeat-y;
      background-size: 100%;
}
.colorlist	{
	color:chartreuse;
}
.colorlist:hover	{
		color:white !important;
}
.btn-primary	{
	background-color:chartreuse !important;
	border-color:chartreuse !important;
	color:black !important;
}

.container    {
	padding-bottom:1.2em;
  	opacity:0.9;
    border-radius:0 0 2em 2em;
    display: flex;
    justify-content: space-beetwen;
    flex-direction: column;
  
    
}

.titre	{
	margin:1em;
	font-weight:700;
}
td	{
	padding: 0.5em 1em 0.5em 1em;
	background-color:black;
	border-radius:2em 2em 2em 2em;
}

th	{
	
	font-size: 1.7em;
	padding-top:1em;
}
row	{
	margin-top:1em;
}

@keyframes show {
  from {
  		height:1em;}
  to {height: 12em;
   animation-play-state:paused;
  		}
}
#show	{
 
  height:12em;
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count:1;
 }
